input {
  width: 500px;
  height: 23px;
  border: none;
  outline: none;

  &::placeholder {
    color: var(--text-secondary)
  }

  &:focus {
    color: black;
    border-bottom: 1px solid var(--text-secondary);
  }

}

@media only screen and (min-width: 481px) and (max-width: 690px) {
  input {
    width: 290px;
  }
}

@media only screen and (min-width: 380px) and (max-width: 480px) {
  input {
    width: 190px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 380px) {
  input {
    width: 120px;
  }
}