input {
  width: 500px;
  height: 23px;
  border: none;
  // outline-color: var(--text-secondary);
  outline: none;

  &::placeholder {
    color: var(--text-secondary)
  }

  &:focus {
    color: black;
    border-bottom: 1px solid var(--text-secondary);
  }

}